.body-container{
    background: #606474;
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-graphic{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.body-graphic img{
    width: 70%;
    height: 70%;
}

.body-tag-line{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.body-tag-line h1{
    width: 70%;
    height: auto;
    font-size: 64px;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    margin: -40px 0px 0px 0px;
    text-align: left;
}

.body-tag-line h1 span{
    width: 100%;
    font-size: 52px;
    color: #0496ff;
    font-family: 'Roboto';
    font-weight: bold;
}

