.body-container{
    background: white;
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-graphic{
    width: 40%;
    height: 450px;
    display: flex;
    justify-content: center;
}
.body-graphic img{
    width: 450px;
}

.body-tag-line{
    width: 40%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-tag-line h1{
    width: 100%;
    font-size: 52px;
    color:#0047ab;
    font-family: 'Roboto';
    font-weight: bold;
    margin: -40px 0px 0px 0px;
}

.body-tag-line h1 span{
    width: 100%;
    font-size: 52px;
    color: #0047ab;
    font-family: 'Roboto';
    font-weight: bold;
}

