.chatgroups-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	float: left;
}

.chatgroups__sidebar {
	width: 20vw;
}

.chatgroups__messagearea {
	width: 80vw;
}
